<!DOCTYPE html>
<head>
    <link href="../../../media/CFLogo-2.jpg">
    <title>CityFinder</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <style>
                /* 
        * Always set the map height explicitly to define the size of the div element
        * that contains the map. 
        */
        #map {
            height: 100%;
        }

        /* 
        * Optional: Makes the sample page fill the window. 
        */
        html,
        body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
    </style>
</head>
<body>
    <h1>City Finder</h1>
    <form method="GET">
        <input name="cityname" placeholder="city name">
        <input class="btn btn-primary" value="submit" type="submit">
    </form>
    <form action="">

    </form>
    <span id="cityname">{{ cityname }}</span>
    <span id="latlng">{{ latlng }}</span>
    <div id="map" style="position: unset; text-align: center;"></div>
     <script>
     (g=>{var h,a,k,p="The Google Maps JavaScript API",c="google",l="importLibrary",q="__ib__",m=document,b=window;b=b[c]||(b[c]={});var d=b.maps||(b.maps={}),r=new Set,e=new URLSearchParams,u=()=>h||(h=new Promise(async(f,n)=>{await (a=m.createElement("script"));e.set("libraries",[...r]+"");for(k in g)e.set(k.replace(/[A-Z]/g,t=>"_"+t[0].toLowerCase()),g[k]);e.set("callback",c+".maps."+q);a.src=`https://maps.${c}apis.com/maps/api/js?`+e;d[q]=f;a.onerror=()=>h=n(Error(p+" could not load."));a.nonce=m.querySelector("script[nonce]")?.nonce||"";m.head.append(a)}));d[l]?console.warn(p+" only loads once. Ignoring:",g):d[l]=(f,...n)=>r.add(f)&&u().then(()=>d[l](f,...n))})
        ({key: "", v: "weekly"});
    </script>
    <script>
        // Initialize and add the map
        let map;
        let latlng = document.getElementById('latlng').innerText;
        let i = 2;
        let lat = "";
        while (latlng[i] != "'") {
            lat += latlng[i];
            i += 1;
        }
        i += 4
        let lng = ""
        while (latlng[i] != "'") {
            lng += latlng[i];
            i += 1;
        }
        async function initMap() {
            const position = { lat: parseFloat(lat), lng: parseFloat(lng) };
            // Request needed libraries.
            //@ts-ignore
            const { Map } = await google.maps.importLibrary("maps");
            const { AdvancedMarkerElement } = await google.maps.importLibrary("marker");

            // The map, centered at Uluru
            map = new Map(document.getElementById("map"), {
                zoom: 4,
                center: position,
                mapId: "DEMO_MAP_ID",
            });

            let cityname = document.getElementById('cityname').innerText
            const marker = new AdvancedMarkerElement({
                map: map,
                position: position,
                title: cityname,
            });
        }
        initMap();
        //
        function run() {

            // Creating Our XMLHttpRequest object 
            let xhr = new XMLHttpRequest();
            // Making our connection  
            let url = 'https://maps.googleapis.com/maps/api/elevation/json?locations=' + lat+ '%2C' + lng +'&key=';
            xhr.open("GET", url, true);
            xhr.setRequestHeader()
            // function execute after request is successful 
            xhr.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    console.log(this.responseText);
                }
            }
            // Sending our request 
            xhr.send();
        }
        run();
    </script>
</body>
