/*body{
height: 100%;
margin: 0px;
padding: 0px 
}*/
@import http://fonts.googleapis.com/css?family=Raleway;
/*----------------------------------------------
CSS Settings For HTML Div ExactCenter
------------------------------------------------*/
#main {
width:960px;
margin: 40px 40px 40px 40px;
font-family:raleway
}
#about2{
width: 200px;
height: 200px;
margin-top: 15px;
border: 11px #132e49 outset;

background-color: #ffffff;

-webkit-border-radius: 100px;
-moz-border-radius: 100px;
border-radius: 100px;

-moz-box-shadow: inset 0px 0px 14px 0px #000000;
-webkit-box-shadow: inset 0px 0px 14px 0px #000000;
box-shadow: inset 0px 0px 14px 0px #000000;


}
#about1
{
	width: 250px;
	height: 250px;

	border: 11px #132e49 outset;

	background-color: #ffffff;

	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	border-radius: 150px;

	-moz-box-shadow: inset 0px 0px 14px 0px #000000;
	-webkit-box-shadow: inset 0px 0px 14px 0px #000000;
	box-shadow: inset 0px 0px 14px 0px #000000;
}
#about
{
	width: 450px;
	height: 450px;

	border: 11px #132e49 outset;

	background-color: #ffffff;

	-webkit-border-radius: 350px;
	-moz-border-radius: 350px;
	border-radius: 350px;

	-moz-box-shadow: inset 0px 0px 14px 0px #000000;
	-webkit-box-shadow: inset 0px 0px 14px 0px #000000;
	box-shadow: inset 0px 0px 14px 0px #000000;
}
.lol {
        position: relative;
        margin: 20%;
        font-family: "Comic Sans MS", cursive, sans-serif;
        font-size: 15px;
}
span {
color:red
}
#flash_alert{
color: red;
position: absolute;
margin-top: 440px;
margin-left:880px;
}
p{
  color: white;
}
#flash_notice {
  font-color: white;
  float:right;
  margin-right:100px;
}
#para
{
	text-align:center;
}

#myform{
    width: 250px;
    padding: 10px;
    border: 5px solid gray;
    margin: 0;
}
h1{
	color:white;
	font-family:"Palatino Linotype",Palatino, serif;
	padding:5px 5px 5px 5px ;
}
#user_password{
	width :250px;
	height : 30px;
	border: 1px solid #ccc;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 5px;
	-moz-box-shadow: 2px 2px 3px #666;
	-webkit-box-shadow: 2px 2px 3px #666;
	box-shadow: 2px 2px 3px #666;
	font-size: 15px;
	padding: 4px 7px;
	outline: 0;
	-webkit-appearance: none;

}
#user_email{
	width :250px;
	height : 30px;
	border: 1px solid #ccc;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 5px;
	-moz-box-shadow: 2px 2px 3px #666;
	-webkit-box-shadow: 2px 2px 3px #666;
	box-shadow: 2px 2px 3px #666;
	font-size: 15px;
	padding: 4px 7px;
	outline: 0;
	-webkit-appearance: none;

}
#user_password_confirmation{
	width :250px;
	height : 30px;
	border: 1px solid #ccc;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 5px;
	-moz-box-shadow: 2px 2px 3px #666;
	-webkit-box-shadow: 2px 2px 3px #666;
	box-shadow: 2px 2px 3px #666;
	font-size: 15px;
	padding: 4px 7px;
	outline: 0;
	-webkit-appearance: none;

}
#email{
	width :250px;
	height : 30px;
	border: 1px solid #ccc;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 5px;
	-moz-box-shadow: 2px 2px 3px #666;
	-webkit-box-shadow: 2px 2px 3px #666;
	box-shadow: 2px 2px 3px #666;
	font-size: 15px;
	padding: 4px 7px;
	outline: 0;
	-webkit-appearance: none;
}
#password{
	width : 250px;
	height :30px;
	border: 1px solid #ccc;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 5px;
	-moz-box-shadow: 2px 2px 3px #666;
	-webkit-box-shadow: 2px 2px 3px #666;
	box-shadow: 2px 2px 3px #666;
	font-size: 15px;
	padding: 4px 7px;
	outline: 0;
	-webkit-appearance: none;
}
h2 {
background-color:#FEFFED;
text-align:center;
border-radius:10px 10px 0 0;
margin:-10px -15px;
padding:5px;
width: 315px;
}
hr {
border:0;
border-bottom:1px solid #ccc;
margin:10px -40px;
margin-bottom:30px
}
#login {
width:300px;
margin-left:820px;
border-radius:5px;
font-family:raleway;
border:2px solid #ccc;
padding:5px 10px 15px 15px;
margin-top:70px
}
input[type=text],input[type=password] {
width:99.5%;
padding:10px;
margin-top:8px;
border:1px solid #ccc;
padding-left:5px;
font-size:16px;
font-family:raleway
}
input[type=submit] {
/*
width:100%;
abackground-color:#FFBC00;
color:#fff;
border:2px solid #FFCB00;
padding:10px;
font-size:20px;
cursor:pointer;
border-radius:5px;
margin-bottom:15px
*/
border: 1px solid #ccc;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 5px;
	-moz-box-shadow: 2px 2px 3px #666;
	-webkit-box-shadow: 2px 2px 3px #666;
	box-shadow: 2px 2px 3px #666;
	font-size: 20px;
	padding: 4px 7px;
	outline: 0;
	-webkit-appearance: none;
	cursor:pointer;
	background-color:#FFBC00;
color:#fff;
border:2px solid #FFCB00;
}
	

#profile {
padding:50px;
border:1px dashed grey;
font-size:20px;
background-color:#FFBC00
}
#logout {
float:right;
padding:5px;
border:dashed 1px gray
}
a {
text-decoration:none;
color:#6495ed
}
i {
color:#6495ed
}

#panel {
position: absolute;
top: 5px;
margin-left: 850px;
z-index: 5;
background-color: #fff;
padding: 5px;
border: 1px solid #999;
}

#map-canvas {
height: 10em;
width: 55em;
padding: 5px 5px 5px 5px;
top: 5px;
bottom: 5px;

}

body {
    background-color: #12181A;
    /*background-image: url('/assets/scft.jpg')*/
  }
  p {
  font-size: 10; color: white;
  }
  p.pos_fixed{
      text-align: right;
      position: absolute;
      
  }
  #flash_notice{
    font-size: 10; color: white;
  }

  button{
border:1px solid #CCCCCC;-webkit-box-shadow: #FEFFFF 0px 1px 1px ;-moz-box-shadow: #FEFFFF 0px 1px 1px ; box-shadow: #FEFFFF 0px 1px 1px ; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-size:14px;font-family:arial, helvetica, sans-serif; padding: 10px 10px 10px 10px; text-decoration:none; display:inline-block;text-shadow: 0px 1px 0 rgba(255,255,255,1);font-weight:bold; color: #4A4A4A;
 background-color: #E6E6E6; background-image: -webkit-gradient(linear, left top, left bottom, from(#E6E6E6), to(#CCCCCC));
 background-image: -webkit-linear-gradient(top, #E6E6E6, #CCCCCC);
 background-image: -moz-linear-gradient(top, #E6E6E6, #CCCCCC);
 background-image: -ms-linear-gradient(top, #E6E6E6, #CCCCCC);
 background-image: -o-linear-gradient(top, #E6E6E6, #CCCCCC);
 background-image: linear-gradient(to bottom, #E6E6E6, #CCCCCC);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#E6E6E6, endColorstr=#CCCCCC);
 cursor:pointer;
}

button:hover{
 border:1px solid #ADADAD;
 background-color: #cdcdcd; background-image: -webkit-gradient(linear, left top, left bottom, from(#cdcdcd), to(#b3b3b3));
 background-image: -webkit-linear-gradient(top, #cdcdcd, #b3b3b3);
 background-image: -moz-linear-gradient(top, #cdcdcd, #b3b3b3);
 background-image: -ms-linear-gradient(top, #cdcdcd, #b3b3b3);
 background-image: -o-linear-gradient(top, #cdcdcd, #b3b3b3);
 background-image: linear-gradient(to bottom, #cdcdcd, #b3b3b3);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#cdcdcd, endColorstr=#b3b3b3);
}

=require 'demo.css'
=require 'jquery.mmenu.all.css'


/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
