html
{
height: 100%;
}
#map-canvas {
        position:absolute;
        height: 100%;
        margin-top: 5%;
        //margin-left: 0%;
        //margin-bottom: 190px;
        //margin-right: 112px;
        padding: 1px; 
      }   
      #panel {
        position: absolute;
        top: 15%;
        left: 0%;
        margin-left: 17%;
        z-index: 5;
        background-color: #fff;
        padding: 5px;
        border: 1px solid #999;
      }   
      #searchpanel {
        position: absolute;
        top: 11%;
        left:50%;
        margin-left: 20%;
	margin-right: 0%;
        display:inline-block;
        background-color: #fff;
        padding: 15px;
        border: 1px solid #999;
      }   
      #searchbutton {
	      position: relative;
	      left: 50%;
	      top: 20%;
	      margin-left: 30%;
		align: left;

      }
h1{
    color: white;
    text-align: center;
position: relative;
top: 0px;

     
}
li{
list-style:none;
}
.pac-icon,.pac-icon-marker
{
       visibility:hidden;
}

